name: ESLint

on: [pull_request]

jobs:
  eslint:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - uses: webfactory/ssh-agent@v0.2.0
        with:
            ssh-private-key: ${{ secrets.SSH_KEY }} # Only add this if this repo has private git dependencies
      - run: |
          ls | grep package-lock.json && npm ci --ignore-scripts || npm install --no-package-lock --ignore-scripts
          ./node_modules/.bin/eslint .
